<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="es">
<footer th:fragment="footer">  
  <div class="bg-blueCertus w-full min-[410px]:mt-6 min-[760px]:mt-14 md:mt-20 xl:mt-32 2xl:mt-40 h-auto py-8 md:pt-0 md:pb-4 px-8 xl:px-36 2xl:px-60 min-[1670px]:pt-6 md:space-y-8 animate__animated">
    <div class="grid grid-cols-2 grid-rows-2 md:grid-cols-3 xl:grid-cols-4 xl:grid-rows-1 text-white gap-y-6 gap-x-4 animate__animated"
      data-animate="animate__fadeInLeft">
      <div class="m-auto xl:m-0 space-y-10 col-span-2 md:col-span-3 xl:col-span-1">
        <div class="flex justify-center space-x-2">
          <a href="#">
            <img th:src="@{/img/home/logo_certus.png}" class="h-14" alt="Logo Certus Marketplace">
          </a>
          <div>
            <h5 class="font-righteous text-white text-3xl cssanimation danceTop">Marketplace</h5>
            <h6 class="font-poppins text-base text-gray-300">Explora la creatividad</h6>
          </div>
        </div>
        <p class="font-poppins text-center text-gray-300">El primer Marketplace para estudiantes creativos</p>
      </div>
      <div class="font-poppins mx-auto">
        <ul class="flex flex-col space-y-3">
          <h6 class="text-lg font-bold mb-3">Enlaces</h6>
          <a href="#"
            class="text-gray-300 hover:text-skyBlueCertus duration-200 transition hover:translate-x-4">Inicio</a>
          <a href="#"
            class="text-gray-300 hover:text-skyBlueCertus duration-200 transition hover:translate-x-4">Nosotros</a>
          <a href="#"
            class="text-gray-300 hover:text-skyBlueCertus duration-200 transition hover:translate-x-4">Soporte</a>
          <a href="#"
            class="text-gray-300 hover:text-skyBlueCertus duration-200 transition hover:translate-x-4">Instituto
            Certus</a>
        </ul>
      </div>
      <div class="font-poppins mx-auto">
        <ul class="flex flex-col space-y-3">
          <h6 class="text-lg font-bold mb-3">Categorías</h6>
          <a href="#"
            class="text-gray-300 hover:text-skyBlueCertus duration-200 transition hover:translate-x-4">Pinturas</a>
          <a href="#"
            class="text-gray-300 hover:text-skyBlueCertus duration-200 transition hover:translate-x-4">Ilustraciones</a>
          <a href="#" class="text-gray-300 hover:text-skyBlueCertus duration-200 transition hover:translate-x-4">Música
            & Audio</a>
          <a href="#"
            class="text-gray-300 hover:text-skyBlueCertus duration-200 transition hover:translate-x-4">Software</a>
        </ul>
      </div>
      <div class="font-poppins space-y-4 mx-auto text-center my-5 md:my-0 col-span-2 md:col-span-1">
        <h6 class="text-lg font-bold">Contáctanos a través de:</h6>
        <div class="space-x-4">
          <a href="#"><i
              class="fa-brands fa-facebook text-[24px] lg:text-[27px] hover:text-skyBlueCertus duration-200 hover:-translate-y-2"></i></a>
          <a href="#"><i
              class="fa-brands fa-x-twitter text-[24px] lg:text-[27px] hover:text-skyBlueCertus duration-200 hover:-translate-y-2"></i></a>
          <a href="#"><i
              class="fa-brands fa-instagram text-[24px] lg:text-[27px] hover:text-skyBlueCertus duration-200 hover:-translate-y-2"></i></a>
          <a href="#"><i
              class="fa-brands fa-linkedin text-[24px] lg:text-[27px] hover:text-skyBlueCertus duration-200 hover:-translate-y-2"></i></a>
        </div>
      </div>
    </div>
    <div class="w-full relative bg-gray-300 h-0.5 m-auto mb-5 animate__animated" data-animate="animate__fadeInLeft"></div>
    <div class="flex justify-center animate__animated" data-animate="animate__fadeInLeft">
      <span class="text-gray-300 text-center font-poppins">
        © 2025 Certus Marketplace. Todos los derechos reservados
      </span>
    </div>
  </div>

</footer>
</html>