<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{fragments/head :: head}"></th:block>
<body class="h-screen w-screen m-0 p-0">

<div class="min-h-screen w-full bg-cover bg-center flex items-center justify-center px-4 py-8"
     th:style="'background-image: url(' + @{/img/login/fondo.jpg} + ')'">


    <div class="flex flex-col lg:flex-row w-full max-w-6xl h-auto lg:h-[90%] bg-white/90 rounded-lg shadow-lg overflow-hidden">

        <!-- Imagen -->
        <div class="w-full lg:w-1/2 flex items-center justify-center p-6 bg-white/50">
            <img class="w-40 sm:w-52 md:w-64 lg:w-[400px] max-h-[80%] object-contain"
                 th:src="@{/img/login/login.png}"
                 alt="Inicio">
        </div>

        <!-- Formulario -->
        <div class="w-full lg:w-1/2 flex items-center justify-center p-6">
            <div class="w-full max-w-md">
                <div class="flex flex-col items-center mb-6">
                    <img class="w-12 h-12 mb-2"
                         th:src="@{/img/home/logo_certus.png}"
                         alt="Logo CertUs">
                    <h2 class="text-xl font-semibold">Marketplace</h2>
                    <p class="text-gray-600 font-poppins">Bienvenido de nuevo</p>
                </div>

                <button class="w-full bg-blue-950 text-white py-2 rounded-md mb-4 hover:bg-blue-920 flex items-center justify-center gap-2 font-poppins">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M21.35 11.1H12v2.8h5.4c-.3 1.8-2.2 2.8-4.2 2.8-2.5 0-4.5-2-4.5-4.5S10.7 7.7 13.2 7.7c1.2 0 2.3.5 3 1.2l2-2C16.8 5.2 15 4.5 13.2 4.5 8.9 4.5 5.5 7.9 5.5 12s3.4 7.5 7.7 7.5c3.8 0 7-2.7 7-7.5 0-.5-.1-1-.2-1.5z"/>
                    </svg>
                    Ingresar con Google
                </button>

                <form class="w-full">
                    <!-- Email -->
                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 font-poppins">Correo electrónico</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 text-gray-500">
                                <i class="fa-regular fa-envelope" style="color: #00205b;"></i>
                            </div>
                            <input type="email" id="email" placeholder="nombre@correo.com"
                                   class="font-poppins ps-10 p-2.5 w-full text-sm border border-gray-300 rounded-lg bg-gray-50 text-gray-900 focus:ring-blue-500 focus:border-blue-500">
                        </div>
                    </div>

                    <!-- Contraseña -->
                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 font-poppins">Contraseña</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 text-gray-500">
                                <i class="fas fa-lock" style="color: #00205b;"></i>
                            </div>
                            <input type="password" id="password" placeholder="••••••••"
                                   class="font-poppins ps-10 p-2.5 w-full text-sm border border-gray-300 rounded-lg bg-gray-50 text-gray-900 focus:ring-blue-500 focus:border-blue-500">
                        </div>
                    </div>


                    <a th:href="@{/works}"
                       class="w-full bg-blue-950 text-white py-2 rounded-md mb-4 hover:bg-blue-920 flex items-center justify-center gap-2 font-poppins">
                        Iniciar sesión
                    </a>

                </form>

                <p class="font-poppins mt-4 text-sm text-center text-gray-600">
                    ¿No tienes una cuenta?
                    <a th:href="@{/auth/register}" class="text-blue-700 font-semibold font-poppins">Crea tu cuenta</a>
                </p>
            </div>
        </div>

    </div>
</div>

</body>
</html>
