<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/fragments/head :: head}"></th:block>
<body>
    <!-- Contenido del Dashboard -->

    <header th:replace="~{/dashboard/seller/works/templates/fragments/header-user :: header-user}"></header>

    <!-- Sidenbar Seller -->
    
    <section th:replace="~{/dashboard/seller/works/templates/fragments/sidebar :: sidebar}"></section>

    <!-- Contenido de Trabajos -->

    <section>        
        <div class="font-poppins text-center mx-4 flex flex-col items-center justify-center min-h-[80vh] sm:ml-80">
            <h1 class="text-2xl lg:text-4xl">Por ahora no tienes ninguna publicación activa 😓</h1>
            <p class="text-base lg:text-lg text-gray-500">Publica un trabajo desde el boton de "Publicar", espera la aprobación y listo.</p>
        </div>
    </section>

</body>
</html>