<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <section th:fragment="sidebar">
      
        <!-- Sidebar -->

        <aside id="default-sidebar" class="font-poppins fixed top-0 left-0 z-40 w-72 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
            <div class="h-full py-4 overflow-y-auto bg-darkBlueCertus">
                <div class="flex items-center justify-center space-x-2 mb-10">
                    <a th:href="@{/home}">
                        <img th:src="@{/img/home/logo_certus.png}" class="h-14" alt="Logo"/>
                    </a>
                    <div>
                        <h5 class="font-righteous text-2xl cssanimation danceTop text-white">Marketplace</h5>
                        <h6 class="font-poppins text-sm text-gray-200">Explora la creatividad</h6>
                    </div>
                </div>
                <!-- Gestión Dashboard -->
                <div class="font-semibold pt-10 pb-4 px-8">
                    <h3 class="text-base text-white">
                        Gestión
                    </h3>
                </div>
                <ul class="font-medium">
                    <li>
                        <a id="activePublication" href="#" class="active:bg-skyBlueCertus flex items-center px-8 py-2 text-gray-300 hover:bg-skyBlueCertusD hover:w-full duration-100 group group-hover:text-white">
                        <i class="fa-solid fa-note-sticky text-gray-300 text-xl"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap duration-100">Publicaciones</span>                        
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active:bg-skyBlueCertus flex items-center px-8 py-2 text-gray-300 hover:bg-blue-900 hover:w-full duration-100 group group-hover:text-white">
                        <i class="fa-solid fa-sack-dollar text-gray-300 group-hover:text-white text-xl"></i>                        
                        <span class="flex-1 ms-3 whitespace-nowrap duration-100 group-hover:text-white">Ventas</span>                        
                        </a>
                    </li>      
                    <li>
                        <a href="#" class="active:bg-skyBlueCertus flex items-center px-8 py-2 text-gray-300 hover:bg-blue-900 hover:w-full duration-100 group group-hover:text-white">
                        <i class="fa-solid fa-spinner text-gray-300 group-hover:text-white text-xl"></i>                        
                        <span class="flex-1 ms-3 whitespace-nowrap duration-100 group-hover:text-white">Pendientes</span>                        
                        </a>
                    </li>                       
                   <!-- Mi Cuenta -->
                    <div class="font-semibold pt-10 pb-4 px-6">
                        <h3 class="text-base text-white">
                            Mi Cuenta
                        </h3>
                    </div>
                    <li>
                        <a href="#" class="active:bg-skyBlueCertus flex items-center px-8 py-2 text-gray-300 hover:bg-blue-900 hover:w-full duration-100 group group-hover:text-white">
                        <i class="fa-solid fa-gear text-gray-300 group-hover:text-white text-xl"></i>                        
                        <span class="flex-1 ms-3 whitespace-nowrap duration-100 group-hover:text-white">Ajustes</span>                        
                        </a>
                    </li>      
                    <li>
                        <a href="#" class="active:bg-skyBlueCertus flex items-center px-8 py-2 text-gray-300 hover:bg-blue-900 hover:w-full duration-100 group group-hover:text-white">
                        <i class="fa-solid fa-user text-gray-300 group-hover:text-white text-xl"></i>                        
                        <span class="flex-1 ms-3 whitespace-nowrap duration-100 group-hover:text-white">Mi Cuenta</span>                        
                        </a>
                    </li>          
                     <li>
                        <a href="#" class="active:bg-skyBlueCertus flex items-center px-8 py-2 text-gray-300 hover:bg-gray-400 hover:w-full duration-100 group group-hover:text-white">
                        <i class="fa-solid fa-right-from-bracket rotate-180 text-gray-300 group-hover:text-white text-xl"></i>                        
                        <span class="flex-1 ms-3 whitespace-nowrap duration-100 group-hover:text-white">Cerrar Sesión</span>                        
                        </a>
                    </li>                                                       
                </ul>
            </div>
        </aside>
    </section>
</html>
</html>