<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <section th:fragment="content">
        <div class="font-poppins text-center mx-4 flex flex-col items-center justify-center min-h-[80vh] sm:ml-80">
            <h1 class="text-2xl lg:text-4xl">No tienes ningun trabajo en proceso de Revisión 😓</h1>
            <p class="text-base lg:text-lg text-gray-500">Publica un trabajo desde el boton de "Publicar", y en "Pendientes" se mostrará el contenido en revisión.</p>
        </div>
    </section>
</html>