<!DOCTYPE html> 
<html>
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inicio</title>
        <!-- Scripts -->
         <script src="https://kit.fontawesome.com/126fa838b4.js" crossorigin="anonymous"></script>
         <!-- Styles -->
        <link th:href="@{/general.css}" rel="stylesheet">
        <link th:href="@{/main.css}" rel="stylesheet">
    </head>
</html>